@import "tailwindcss";

@theme inline {
  --font-sans: "Noto Sans", sans-serif;
  --color-cream: rgb(239, 239, 234);
  --color-dark: rgb(51, 51, 51);
  --color-snow: rgb(245, 245, 243);
  --color-dirt: rgb(175, 181, 177);
  --color-chocolate: rgb(141, 129, 107);
  --color-celeste: rgb(171, 208, 217);
  --color-afternoon: rgb(128, 149, 175);
  --color-blush: rgb(225, 123, 128);
  --color-peach: rgb(234, 178, 170);
  --color-tangerina: rgb(234, 179, 118);
  --color-aspargus: rgb(148, 209, 160);
  --color-lime: rgb(202, 212, 151);
  --color-joy: rgb(237, 210, 122);
  --color-ennui: rgb(174, 151, 194);
  --color-barbie: rgb(210, 158, 177);
}

@layer base {
  body {
    background-color: var(--color-white);
    font-family: var(--font-sans);
    font-weight: 400;
    color: var(--color-dark);
  }
}

/* Components */
.card {
  @apply grid grid-cols-8 grid-rows-2 p-10 mb-4 border-zinc-200 border rounded-xl hover:border-aspargus hover:bg-aspargus/20 active:border-2;
}

.nav-link {
  @apply hover:text-aspargus py-4 flex gap-3 items-center;
}

.form {
  @apply grid space-y-5 justify-center my-4 md:grid-cols-2 md:grid-flow-col md:gap-x-20;
}

.submit-button {
  @apply inline-flex items-center justify-center rounded-md py-2 px-3 outline-offset-2 transition active:transition-none bg-zinc-100 font-medium text-zinc-900 hover:bg-aspargus/50 md:px-20 md:m-auto;
}

.input-class {
  @apply block w-full px-3 py-2 my-3 appearance-none rounded-md border border-zinc-900/10 shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-aspargus outline-0 text-sm;
}

.headline {
  @apply text-zinc-900 font-semibold mb-6 mx-auto;
}