@import "tailwindcss";
@import "tailwindcss/preflight";

@theme {
  --font-sans: "Noto Sans", sans-serif;

  --color-black: rgb(51, 51, 51);
  --color-white: rgb(245, 245, 243);
  --color-beige: rgb(239, 239, 234);
  --color-gray: rgb(175, 181, 177);
  --color-brown: rgb(141, 129, 107);
  --color-light-blue: rgb(171, 208, 217);
  --color-dark-blue: rgb(128, 149, 175);
  --color-red: rgb(225, 123, 128);
  --color-peach: rgb(234, 178, 170);
  --color-orange: rgb(234, 179, 118);
  --color-green: rgb(148, 209, 160);
  --color-lime: rgb(202, 212, 151);
  --color-yellow: rgb(237, 210, 122);
  --color-purple: rgb(174, 151, 194);
  --color-pink: rgb(210, 158, 177);
}

@layer base {
  body {
    background-color: var(--color-beige);
    font-family: var(--font-sans);
    font-weight: 400;
    color: var(--color-black);
  }

  i {
    fill: var(--color-black);
  }
}




/*   font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --black: rgb(51, 51, 51);
  --white: rgb(245, 245, 243);
  --beige: rgb(239, 239, 234);
  --gray: rgb(175, 181, 177);
  --brown: rgb(141, 129, 107);
  --light-blue: rgb(171, 208, 217);
  --dark-blue: rgb(128, 149, 175);
  --red: rgb(225, 123, 128);
  --peach: rgb(234, 178, 170);
  --orange: rgb(234, 179, 118);
  --green: rgb(148, 209, 160);
  --lime: rgb(202, 212, 151);
  --yellow: rgb(237, 210, 122);
  --purple: rgb(174, 151, 194);
  --pink: rgb(210, 158, 177);

  background-color: var(--light-blue); */

/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */



/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */